body{
    background-color:whitesmoke;
    text-align: justify;
    margin-left: 15%;
    margin-right: 15%;
}

.solution img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: solid;
    max-width:60%;
    
}

.header h1{
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    font-size: 2vw;
}

.header ul{
    padding-left: 10%;
    opacity: 0.7;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.3vw;
}

.solution h4{
    padding-left: 15%;
    font-size: 1.2vw;
    opacity: 0.7;
    line-height: 5%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.solution h3{
    padding-left: 12%;
    opacity: 0.9;
    text-shadow: 10%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.3vw;   
}

.solution p{
    padding-left: 20%;
    padding-right: 20%;
    font-size: 1.3vw;
    text-align: justify;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.solution{
    line-height:normal;
}

#headerImg{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 30%;
    height: 30%;
}



#flag{
    text-align: center;
    font-size: 1.5vw;
    background-color: coral;
    margin-left: 20%;
    margin-right: 20%;    
    line-height: 150%;
}

footer{
    text-align: center;
    opacity: 0.7;
    color: black;
    font-size:  1.2vw;
}
strong{
    opacity: 0.9;
}